<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.les.povmt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:launchMode="singleTop"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PovMTActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeekReportActivity"
            android:label="@string/title_activity_week_report"
            android:parentActivityName=".PovMTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryTabsActivity"
            android:label="@string/history_tabs_activity"
            android:parentActivityName=".PovMTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterTiActivity"
            android:label="Novo TI"
            android:parentActivityName=".ActivityProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".ListUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateActivity"
            android:label="Criar Atividade"
            android:parentActivityName=".ListUserActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditActivity"
            android:label="Editar Atividade"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityProfileActivity"
            android:parentActivityName=".ListUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoricActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".notification.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".notification.NotificationEventReceiver" />
        <receiver android:name=".notification.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>
</manifest>